* {
  /* Change your font family */
  font-family: sans-serif;
}
.container {
  margin-top: 5%;
}

.btn {
  background-color: #275edf; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn2 {
  background-color: #df2727; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn3 {
  background-color: #00b200;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 1px;
  cursor: pointer;
}

.btn4 {
  background-color: #ff0000;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;

  min-width: 1200px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  max-height: 78.8vh;

  margin-top: 22px;

  margin: 15px;
  padding-bottom: 20px;
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* contant-table2 */

.content-table2 {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 1500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table2 thead tr {
  background-color: #e6cc56;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table2 th,
.content-table2 td {
  padding: 12px 15px;
}

.content-table2 tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table2 tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table2 tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table2 tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table2 {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 1500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table2 thead tr {
  background-color: rgb(0, 38, 255);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table2 th,
.content-table2 td {
  padding: 12px 15px;
}

.content-table2 tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table2 tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table2 tbody tr:last-of-type {
  border-bottom: 2px solid rgb(0, 38, 255);
}

.content-table2 tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.table {
  border-collapse: collapse;
  width: 50%;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-striped tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
